*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	font-size: 16px;
	background: #08c;
	line-height: 1.3;
}
.register-box{
	width: 400px;
	height: auto;
	background: #fff;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0px #000090;
}
.register-inner{
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}
.register-inner h1{
	font-size: 30px;
	text-transform: capitalize;
}
.register-inner>p{
	font-size: 18px;
	color: #999;
}
.main-register{
	width: 100%;
	text-align: left;
}
.form-control{
	margin: 20px 0;
}
.form-control label{
	font-size: 18px;
}
.form-control input{
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #000;
	border-radius: 0px;

}
.btn{
	font-size: 18px;
	color: #fff;
	background: #08c;
	border: 1px solid #08c;
	padding: 10px 30px;
	border-radius: 0px;
	transition: .5s;
}
.btn:hover{
	background: transparent;
	color: #08c;
}
.login-option{
	margin-top: 20px;
}
.login-option p a{
	color: #08c;
}